.App {
  text-align: center;
}

.inputs-area {
  width: 100%;
  height: 5rem;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  margin: 3rem 0 1rem 0;
}
.inputs-wrapper {
  max-width: 80rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.input {
  border: 1px solid black;
  border-radius: 0.2rem;
}

.data-display > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.data-display > ul li {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  margin: 0.21rem;
  width: 90%;
  min-width: 280px;
  max-width: 80rem;
  align-self: center;
}

.data-display > ul li:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
}

.item-details {
  border: 1px solid black;
  min-width: 10rem;
  max-width: 80rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  padding: 1rem;
}

button {
  margin-inline: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .inputs-area > .input {
    width: 80px;
  }
}
